.photo {
    width: 240px;
    height: 180px;
    padding: 0.5rem;
    position: relative;
}

.photo__frame {
    position: relative;
    border-radius: 2%;

    width: 100%;
    height: 100%;
}

.photo__image {
    border-radius: 2%;

    width: 100%;
    height: 100%;
    object-fit: cover;

    box-shadow: 1px 1px 1px 1px rgba(200, 200, 200, 1);
}


.photo:hover {
    opacity: .7;
    transition: .3s ease;
}
.photo:hover .overlay {
    opacity: 1;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .3s ease;
    background-color: transparent;
    border-radius: 2%;
}

.overlay__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.overlay__caption {
    color: white;
    font-size: 18px;
    margin-bottom: 10px;
}

.overlay__text {
    width: 180px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.overlay__text-bold {
    font-weight: 600;
}

.overlay__text-italic {
    font-style: italic;
}

.overlay__button {
    border: 1px solid white;
    background-color: transparent;
    border-radius: 20px;
    color: white;
    padding: 10px 15px;

    display: inline-block;
    text-align: center;
    font-size: 16px;

    cursor: pointer;
}

.overlay__button:hover {
    background-color: white;
    color: black;
}

.overlay__button:focus {
    outline:0;
}

.overlay__line {
    height: 2px;
    border: 0;
    margin: 3px auto;
    background-color: white;
    width: 50px;
    text-align: center;
}